.add-form {
  
  padding: 0 12px 12px 12px;

  &__input {

    textarea {
      border: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      resize: none;
      cursor: text;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-clear {
      cursor: pointer;
    }

    &-add-btn {
      padding: 12px;
      text-align: center;
      border-radius: 0 0 3px 3px;
	  color: #6b808c;
	  width: 100%;

      &:hover {
        background-color: darken(#dfe3e6, 10);
        cursor: pointer;
        color: darken(#6b808c, 50);
      }
    }
  }
}
