.panel {
	 background: #dfe3e6;
	 border-radius: 3px;
	 width: 272px;
	 margin-right: 12px; 
	 overflow: hidden;
	// margin: 0 4px;
	// height: calc(100% - 40px);
	// box-sizing: border-box;
	// display: flex;
	// flex-direction: column;
	// vertical-align: top;
	// white-space: nowrap;




	 &__title {
		 display: flex;
		 align-items: center;
		 justify-content: space-between;
		 padding: 12px;
		 padding-bottom: 0;
	 }

	 &__items {
		padding: 12px 12px 0 12px;
	 }

	 &--empty {
		 .add-form {
			 margin-top: 12px;
		 }
	 }

	 
}