html,
body,
#root {
  height: 100%;
  margin: 0 auto;
}

* {
  outline: none;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
}

button,
textarea {
  font-size: 14px; 
}

#root {
  background-image: url("./assets/budushchee_kitaj_tehnologii_163369_1920x1080.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.app {
  display: flex;
  align-items: flex-start;
}
